<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-up">
        <% if post.user.user_image? %>
          <%= link_to image_tag("#{post.user.user_image}", class: "user-icon" ), user_path(post.user) %>  
        <% else %>
          <%= link_to image_tag("/default.png", class: "user-icon" ), user_path(post.user) %>
        <% end %>
        <%= link_to(post.user.username, user_path(post.user)) %>
        </div>
        <div class="post-down">
        <p class="post-content"><%= post.content %></p>
        <div class="post-image">
          <img src="<%= "#{post.post_image}" %>" class="icon">
        </div>
        <p class="post-title"><%= post.title %></p>
        </div>
      </div> 
    <% end %>
  </div>
</div>