<div class="main posts-index">
  <div class="container">
    <ul class="tab-list list-unstyled">
      <li class="tab tab-active">
        全般
      </li>
      <li class="tab">
        遊び
      </li>
      <li class="tab">
        デート
      </li>
      <li class="tab">
        ドライブ
      </li>
      <li class="tab">
        インスタ映え
      </li>
      <li class="tab">
        その他
      </li>
    </ul>
    <!--タブで選択された要素部分-->
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%= render 'list', posts: @posts %>    
      </div>
      <div class="tabbox">
        <%= render 'list', posts: Post.return_posts('遊び') %>
      </div>
      <div class="tabbox">
        <%= render 'list', posts: Post.return_posts('デート') %>
      </div>
      <div class="tabbox">
        <%= render 'list', posts: Post.return_posts('ドライブ') %>
      </div>
      <div class="tabbox">
        <%= render 'list', posts: Post.return_posts('インスタ映え') %>
      </div>
      <div class="tabbox">
        <%= render 'list', posts: Post.return_posts('その他') %>
      </div>
    </div>

      
  </div>
</div>