<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <% if @post.user.user_image? %>
          <%= link_to image_tag("#{@post.user.user_image}", class: "user-icon" ), user_path(@post.user) %>  
        <% else %>
          <%= link_to image_tag("/default.png", class: "user-icon" ), user_path(@post.user) %>
        <% end %>
        <%= link_to(@post.user.username, user_path(@post.user)) %>
      </div>
      <div class="post-item">
        <p>
            <%= @post.content %>
        </p>
        <img src="<%= "#{@post.post_image}"%>">
        <p class="title">
            <%= @post.title %>
        </p>
      </div>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <div class="tag">
       <% @post.janles.each do |janle|%>
          <p class="janle"><%= "##{janle.janle}"%></p>
        <% end %>
      </div>

      <div id="like_buttons_<%= @post.id %>">
        <%= render partial: 'like/likes', locals: {post: @post} %>
      </div>
     
      
      <% if @post.user_id == current_user.id%>
        <div class="post-menus">
          <%= link_to edit_post_path(@post) do %>
            <i class="fas fa-edit fa-2x"></i>
          <% end %>
          <%= link_to post_path(@post), method: :delete do %>
            <i class="fas fa-trash-alt fa-2x"></i>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>