<% posts.each do |post| %>
    <div class="posts-index-item">
        <div class="post-up">
            <% if post.user.user_image? %>
                <%= link_to image_tag("#{post.user.user_image}", class: "user-icon" ), user_path(post.user) %>  
            <% else %>
                <%= link_to image_tag("/default.png", class: "user-icon" ), user_path(post.user) %>
            <% end %>
            <div class="user-name">
              <%= link_to(post.user.username, user_path(post.user)) %>
            </div>
        </div>
        <div class="post-down">
            <%= link_to post.content, post_path(post) %>
            <div class="post-image">
                <img src="<%= "#{post.post_image}" %>" class="icon">
            </div>
            <p class="title"><%= post.title %></p>

            
            <% post.janles.each do |janle|%>
                <p class="janle"><%= "##{janle.janle}"%></p>
            <% end %>
            
            
            <div class="like">
                <br/><i class="fas fa-heart fa-2x"></i>
                <br/><p class="like-count"><%= post.likes.count %> いいね</p>
            </div>
        </div>
    </div> 
<% end %>